$header-color:#eff0f3;
$header-height: 5vh;
$header-shadow: 2px 2px 2px 1px rgba(0, 0, 0, .2);
$button-bg: #23b6a8;
$button-cancel-bg: #df5a4b;
$card-result-bg: #e0e0e0;
$breakpoints: ( mobile: 599px, tablet:768px, desktop:1919px );