#my-books {
    display: flex;
    // padding: 10%;
    margin: 0.5em;
    flex-direction: column;
    width: 100vw;
    text-align: center;
}

#pochlist  //display list in a flex with 2 per line for mobile, 3 for tablet and 4 for desktops 
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    vertical-align: middle;
}
