#js-search-results {
    display: none;
}

#booksQueried {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    vertical-align: middle;
}



.book-thumbnail-card {
    margin: 1em;
    width: 80vw;
    height: 45vh;
    @include tablet-only {
        // height: 45vh;
        width: 35vw;
    }
    @include desktop-only {
        // height: 45vh;
        width: 25vw;
    }
    border: 4px solid #000000;
    background-color: $card-result-bg;
    padding: 0.5em;
    div {
        text-align: left;
    }
}

#js-stored-list {
    display: none;
}